
.category-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin: 20px 0;
    align-items: center;
}
.category-item {
    height: 50px;
    margin-left: 10px;
    flex-grow: 1;
    padding: 8px 10px;
    width: 45%;
}

.category-item p {
    color: #74747e;
}

a {
    color: #1895fa;
}

.popular-container {
    display: grid;
    place-items:center;
    margin-top: 20px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,100px);
    row-gap: 10px;
}
.picture {
    width: 50px;
    height: 60px;
    background: #c2c2c4;
}

.popular-item {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width:150px;
  height: 60px;
  transition-duration: 1s;
}
.popular-item:hover{
    background-color:#74747e;
}
.popular-item:hover a{
  color:white;
  text-decoration: none;
}
.popular-item:hover button{
   background-color:#f4c4c0;
  }
.popular-item button {
    background: #c2c2c4;
    border: #c2c2c4;
    height: 20px;
    width:70px;
}
@media (min-width:359px) and (max-width:768px) {
    .popular-container {
        display: grid;
        place-items:center;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        row-gap: 5px;
        justify-content: center;
    }
  }
  