$mainColor_lightTheme: white;
$bgColor_lightTheme:#f0f0f0;
$bgColorCont_lightTheme:#b4b4b4;
$fontColor_lightTheme:#3c3c3c;

$mainColor_DarkTheme: #3c3c3c;
$bgColorCont_DarkTheme:#000000;
$fontColor_DarkTheme:#ffffff;
