.component-with-helper {
    position: relative;
}

.component-with-helper__helper {
    position: absolute;
    top: 5em;
    left:10em;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}